@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-cancel: oklch(0.6004 0.0096 48.04);
  --color-custom: oklch(0.7 0.1946 48.04);
  --color-status-created: oklch(0.628 0.2577 29.23);
  --color-status-open: oklch(0.7593 0.1959 59.69);
  --color-status-complete: oklch(0.7593 0.2908 146.51);
  --color-link: oklch(0.6599 0.1478 264.052);
  --background-image-login-pattern: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(244, 247, 251, 1)
  );
  --background-image-login-button: linear-gradient(
    45deg,
    rgb(16, 137, 211) 0%,
    rgb(18, 177, 209) 100%
  );
  --shadow-login-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  --color-ep-button: oklch(0.7 0.1872 58.63);
}

@plugin "daisyui/theme" {
  name: "light";
  --color-cancel: oklch(0.6004 0.0096 48.04);
  --color-custom: oklch(0.7 0.1946 48.04);
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-cancel: oklch(0.6004 0.0096 48.04);
  --color-custom: oklch(0.7 0.1946 48.04);
}
