<table
  cellpadding="0"
  cellspacing="0"
  border="0"
  width="100%"
  role="presentation"
>
  <tbody>
    <tr>
      <td bgcolor="#F5F7FA" style="font-size: 0px"></td>
      <td bgcolor="#F5F7FA" width="640" align="center">
        <span class="im">
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
            dir="ltr"
            role="presentation"
          >
            <tbody>
              <tr>
                <td>
                  <table
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                    width="100%"
                    role="presentation"
                  >
                    <tbody>
                      <tr>
                        <td>
                          <table
                            width="100%"
                            cellpadding="0"
                            cellspacing="0"
                            border="0"
                            dir="ltr"
                            style="background: #fff"
                            role="presentation"
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    color: #929496;
                                    font-weight: 450;
                                    font-size: 12px;
                                    line-height: 9px;
                                    padding: 10px 0px;
                                  "
                                >
                                  <span
                                    >Hello, ${receiverfirstname}
                                    ${receiverlastname}</span
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table
                            width="100%"
                            cellpadding="0"
                            cellspacing="0"
                            border="0"
                            dir="ltr"
                            role="presentation"
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  style="padding: 24px 24px 40px 24px"
                                >
                                  <img
                                    src="https://i.ibb.co/MD0C3msF/ep.png"
                                    style="display: block"
                                    border="0"
                                    width="51"
                                    height="51"
                                    alt="Europay"
                                    title="Europay"
                                  />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </span>
        <table
          cellpadding="0"
          cellspacing="0"
          border="0"
          width="100%"
          dir="ltr"
          role="presentation"
        >
          <tbody>
            <tr>
              <td width="640" valign="top">
                <table
                  width="100%"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  role="presentation"
                >
                  <tbody>
                    <tr>
                      <td
                        align="center"
                        style="
                          padding: 0px 24px 40px 24px;
                          word-break: break-word;
                        "
                      >
                        <p
                          style="
                            font-size: 42px;
                            line-height: 46px;
                            font-weight: 900;
                            color: #000;
                            margin: 0;
                          "
                        >
                          <span
                            >${senderfirstname} ${senderlastname}&nbsp;has sent
                            you&nbsp;${senderamount}&nbsp;${sendercurrencysymbol}&nbsp;${sendercurrencycode}.</span
                          >
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <tr>
                      <td style="padding: 0px 14px 14px 14px">
                        <table
                          id="m_9064694047146720274cartDetails"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                          width="100%"
                          dir="ltr"
                          style="font-size: 14px"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  padding: 10px 10px;
                                  text-align: left;
                                  border-top: 0px;
                                  width: 50%;
                                  vertical-align: top;
                                "
                              >
                                <span><strong>Transaction ID</strong></span
                                ><br /><a href="#" target="_blank"
                                  ><span>${transactionid}</span></a
                                >
                              </td>
                              <td
                                style="
                                  padding: 10px 10px;
                                  text-align: right;
                                  border-top: 0px;
                                  width: 50%;
                                  vertical-align: top;
                                "
                              >
                                <span><strong>Transaction date</strong></span
                                ><br /><span>${transactiondate}</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td style="padding: 0px 24px 24px 24px">
                        <p
                          style="
                            font-size: 14px;
                            line-height: 20px;
                            color: #000000;
                            margin: 0;
                            word-break: break-word;
                          "
                          dir="ltr"
                        ></p>
                        <table
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td style="padding: 0px 24px">
                                <hr style="border-top: 1px dotted #c6c6c6" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <tr>
                      <td style="padding: 0px 14px 14px 14px">
                        <table
                          id="m_9064694047146720274cartDetails"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                          width="100%"
                          dir="ltr"
                          style="font-size: 14px"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  padding: 10px 10px;
                                  text-align: left;
                                  border-top: 0px;
                                "
                              >
                                <span>Money ${transactiondirection}</span>
                              </td>
                              <td
                                style="
                                  padding: 10px 10px;
                                  text-align: right;
                                  border-top: 0px;
                                "
                              >
                                <span
                                  >${senderamount}&nbsp;${sendercurrencysymbol}&nbsp;${sendercurrencycode}</span
                                >
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <span class="im">
                  <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                  >
                    <tbody>
                      <tr>
                        <td style="padding: 0px 24px 24px 24px">
                          <p
                            style="
                              font-size: 14px;
                              line-height: 20px;
                              color: #000000;
                              margin: 0;
                              word-break: break-word;
                            "
                            dir="ltr"
                          ></p>
                          <table
                            width="100%"
                            cellpadding="0"
                            cellspacing="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td style="padding: 0px 24px">
                                  <hr style="border-top: 1px dotted #c6c6c6" />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </span>
              </td>
            </tr>
            <tr>
              <td width="640">
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  dir="ltr"
                >
                  <tbody>
                    <tr>
                      <td>
                        <table
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                align="center"
                                valign="top"
                                style="padding: 30px 24px 30px 24px"
                              >
                                <img
                                  src="https://i.ibb.co/MD0C3msF/ep.png"
                                  width="40"
                                  height="40"
                                  style="display: block"
                                  border="0"
                                  alt="Europay"
                                />
                                <hr
                                  style="
                                    border-top: 1px solid #c6c6c6;
                                    margin: 30px 0px 0px 0px;
                                  "
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td bgcolor="#F5F7FA" style="font-size: 0px"></td>
    </tr>
  </tbody>
</table>
